<div class="prescription-container">
    <div *ngFor="let item of prescriptionForm; let i = index">
        <div class="row mt-2" [ngClass]="{'mb-2': prescriptionForm.length === 1}">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <span class="fw-bold">{{i+1}}.</span> <label class="fw-bold">Tên thuốc <span class="required">*</span></label>
                <div class="d-flex me-3">
                    <input class="w-100" pInputText type="text" name="medicineName{{i}}" [(ngModel)]="item.medicineName"
                        required placeholder="Nhập tên thuốc...">
                    <p-button *ngIf="prescriptionForm.length > 1" class="ms-1" icon="pi pi-times" [text]="true"  severity="secondary" (onClick)="removeRow(i)" />
                </div>
                <small *ngIf="isRequired && !item.medicineName" class="required">Tên thuốc bắt buộc</small>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4 col-md-12 col-xs-12">
                    <label class="fw-bold">Ngày uống <span class="required">*</span> (<i>lần</i>)</label>
                    <div>
                        <input class="w-100" pInputText type="number" name="timesPerDay{{i}}"
                            [(ngModel)]="item.numberOfTimesPerDay" required placeholder="Nhập số lần trên ngày...">
                    </div>
                    <small *ngIf="isRequired && !item.numberOfTimesPerDay" class="required">Số lần uống thuốc bắt buộc</small>
                </div>
                <div class="col-lg-4 col-md-12 col-xs-12">
                    <label class="fw-bold">Mỗi lần <span class="required">*</span> (<i>viên</i>)</label>
                    <div>
                        <input class="w-100" pInputText type="number" name="pillsPerDose{{i}}"
                            [(ngModel)]="item.numberOfPillsPerDose" required placeholder="Nhập số viên trên lần...">
                    </div>
                    <small *ngIf="isRequired && !item.numberOfPillsPerDose" class="required">Số viên thuốc bắt buộc</small>
                </div>
            </div>
        </div>
        <hr *ngIf="prescriptionForm.length > 1" />
    </div>
    <p-button class="mt-2" icon="pi pi-plus"  variant="outlined" severity="success" (onClick)="addRow()" />

</div>