/* You can add global styles to this file, and also import other style files */
// .p-datatable .p-datatable-tbody>tr {
//     border-bottom: 1px solid #ddd;
// }
// .p-datatable .p-datatable-thead>tr {
//     background-color: red !important;
// }
// .p-datatable .p-datatable-tbody>tr {
//     border-bottom: 1px solid #ddd;
// }

// .p-datatable .p-datatable-tbody>tr:nth-child(even) {
//     background-color: #f9f9f9;
//     /* light gray */
// }

// .p-datatable .p-datatable-tbody>tr:nth-child(odd) {
//     background-color: #ffffff;
//     /* white */
// }

.cursor-pointer {
    cursor: pointer;
}

h3 {
    color: var(--primary-color) !important;
}

.required {
    color: red;
}

.p-icon-field.p-icon-field-left {
    line-height: 0;
}

.p-ripple.p-element.p-button.p-component.p-button-secondary.p-button-text {
    background: grey;
}

.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 1px var(--border-color);
    border-color: #2e798f;
}

.p-inputtext:enabled:hover {
    border-color: var(--border-color);
}

.p-dropdown:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 1px var(--border-color);
    border-color: #2e798f;
}

.p-dropdown:not(.p-disabled):hover {
    border-color: var(--border-color);
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: var(--border-color);
    background: #EEF2FF;
}

.add-btn {
    button {
        border-radius: 2rem;
    }
}

.p-datatable .p-datatable-thead>tr>th {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #e5e7eb;
    border-width: 0 0 1px 0;
    font-weight: 700;
    color: #ffffff !important;
    background: var(--primary-color) !important;
    transition: box-shadow 0.2s;
}

.p-button {
    color: #ffffff;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
    outline-color: transparent;
}

.p-button:not(:disabled):hover {
    background: var(--border-color);
    color: #ffffff;
    border-color: var(--border-color);
}

.p-button:not(:disabled):active {
    background: var(--border-color);
    color: #ffffff;
    border-color: var(--border-color);
}

.p-button:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--border-color), 0 1px 2px 0 black;
}

.p-paginator.p-component {
    justify-content: end;
}