body {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #f8f9fa;
}

.app-container {

  //Slide bar
  .sidebar {
    width: 300px;
    min-width: 300px;
    background-color: #ffffff;
    color: black;
    height: 100vh; // full height for sidebar
    position: fixed; // keep it fixed while scrolling
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 10;

    .tilte-header {
      margin-left: 1rem;
      color: grey;
      font-size: .9rem;
    }
  }

  .sidebar a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    transition: background 0.3s;
  }

  .sidebar a.active {
    background-color: #d0e4ff;
    color: #1890ff;
    border-right: 2px solid;
  }

  .sidebar a:hover {
    background-color: #d0e4ff;
    color: #1890ff;
  }

  .content {
    flex-grow: 1;
    padding: 20px;
  }

  .sidebar h3 {
    padding: 20px;
    margin-bottom: 0;
    background-color: white;
  }

  // Content 

  .align-menu-container{
    margin-left: 300px;
  }
  .content-container {
    background-color: #f7f7f7;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;

    .menu-group {
      overflow: hidden;
      transition: max-height 0.5s ease;
    }

    .tilte-header {
      font-weight: bold;
      margin-bottom: 8px;
    }

    .header-bar {
      height: 4.5rem;
      flex-shrink: 0;
      box-shadow: 5px 0px 6px #2e798f;

      .collapse-btn {
        box-shadow: 2px 1px 4px #adadad;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        text-align: center;
        line-height: 2rem;
        position: fixed;
        margin: 1rem 0 0 -1.2rem;
        background: white;
        z-index: 10;
      }

      .expand-btn {
        box-shadow: 2px 1px 4px #adadad;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        text-align: center;
        line-height: 2rem;
        position: fixed;
        margin: 1rem 0 0 0;
        background: white;
      }
    }

    .content {
      flex-grow: 1;
      overflow-y: auto; // scrollable main area
      padding: 1rem 2rem;
    }
  }
}

//loading panel 
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}