<div class="app-container">
    <!-- Sidebar -->
    <div class="d-flex">
        <div *ngIf="isManagementMenuOpen" class="menu-group sidebar d-flex flex-column" >
            <h3>Tam Binh Clinical</h3>
            <div class="tilte-header">Thống kê</div>
            <a routerLink="#" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <span class="pi pi-home"></span> Trang chủ
            </a>

            <div class="tilte-header">Quản lý</div>
            <a routerLink="/patients" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
               <span class="pi pi-address-book"></span> Quản lý bệnh nhân
            </a>
            <a routerLink="/doctors" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <span class="pi pi-users"></span> Quản lý bác sĩ
            </a>
        </div>
        <!-- Content -->
        <div class="content-container" [ngClass]="{'align-menu-container':isManagementMenuOpen}">
            <div class="header-bar">
                <div *ngIf="isManagementMenuOpen" (click)="toggleManagementMenu()" class="collapse-btn">
                    <i class="pi pi-angle-left"></i>
                </div>

                <div *ngIf="!isManagementMenuOpen" (click)="toggleManagementMenu()" class="expand-btn">
                    <i class="pi pi-angle-right"></i>
                </div>
            </div>
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
