.info-lbl {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: bold;
}

.note {
    padding-right: 2.2rem;
}

:host ::ng-deep {
    .p-dropdown-items.ng-star-inserted {
        margin: unset !important;
        padding: unset !important;
    }

    .p-dropdown {
        width: 100%;
    }
}