<div class="bread-crumb">
    <app-breadcrumb [items]="items"></app-breadcrumb>
</div>
<div class="patient-detail-container" *ngIf="dataSource">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="patient-info mb-3">
                <div class="info-lbl">Thông tin cá nhân:</div>
                <div class="mt-3">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <label class="fw-bold">Họ và tên:</label>
                        <div>
                            {{dataSource.name}}
                        </div>
                    </div>
                    <div class="mt-3 col-lg-12 col-md-12 col-xs-12">
                        <label class="fw-bold">Số điện thoại:</label>
                        <div>
                            {{dataSource.phoneNumber}}
                        </div>
                    </div>
                    <div class="mt-3 col-lg-12 col-md-12 col-xs-12">
                        <label class="fw-bold">Email:</label>
                        <div>
                            {{dataSource.email}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Actions -->
    <div class="d-flex justify-content-end">
        <div>
            <p-button class="add-btn" label="Chỉnh sửa" (onClick)="onEdit()"></p-button>
        </div>
        <!-- <div class="ms-3">
            <p-button severity="secondary" label="Xóa"></p-button>
        </div> -->
    </div>
</div>

<div *ngIf="visible">
    <p-dialog [appendTo]="'body'" header="Chỉnh sửa" [modal]="true" [(visible)]="visible" [style]="{ width: '50vw'}"
        (onHide)="onHide()">
        <span class="p-text-secondary block mb-3">Cập nhật thông tin bác sĩ.</span>
        <app-doctor-form [formData]="formData" [isEdit]="true"></app-doctor-form>
    </p-dialog>
</div>
<p-toast position="bottom-right" key="br"/>