.patient-detail-container {
    background: white;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin-top: 1rem;

    .info-lbl {
        font-size: 1.4rem;
        color: #2e859f;
        font-weight: 800;
    }
}